@font-face {
  font-family: FUTURA55REGULAR;
  src: url(./assets/fonts/FUTURA55REGULAR.TTF);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: FUTURA55REGULAR;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(-30deg, #ddd2d2 0%, #8e95f5 100%);
}
h1 {
  font-size: 40px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff42;
  border-radius: 20px;
  padding: 10px;
  width: 60%;
}
button,
input {
  padding: 10px;
  width: 100%;
  margin: 10px;
  outline: none;
  border: none;
  font-size: 18px;
}
button {
  border-radius: 10px;
  background-color: #6f42c1;
  color: white;
  transition: 0.3s;
}
button:hover {
  background-color: #5329a1;
  transition: 0.3s;
}
input {
  border-bottom: 1px solid;
  background-color: transparent;
}
::placeholder {
  color: #999;
}
#para,
#title-box {
  width: 100%;
}
#para,
#title-box {
  max-height: 180px;
  overflow: auto;
}
#error {
  color: red;
}
.inner-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
.inner-text p {
  width: 100%;
  font-size: 16px;
  padding: 10px;
}
.inner-text h4 {
  font-size: 20px;
  padding: 10px;
}
#name {
  font-weight: 600;
}
